/* Estils per a l'encapçalament */
header {
    display: flex;
    align-items: center; /* Centra verticalment els elements dins de l'encapçalament */
    background-color: rgb(59, 102, 59); /* Color de fons verd */
    padding: 10px 20px;
}

#logo img {
    height: 70px; /* Ajusta l'altura del logotip si cal */
    margin-right: auto; /* Mou el logotip a l'esquerra */
}

nav {
    display: flex;
    margin-left: auto;
    gap: 200px; /* Espai entre els enllaços */
    
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/* Opcional: estil d'enllaç al passar-hi el ratolí */
nav a:hover {
    text-decoration: underline;
}

/* Estil per a la secció hero */
.hero {
    position: relative;
    text-align: center;
    color: white;
}

.hero-image {
    width: 100%;
    height: auto;
}

h1{
    color: rgb(59, 102, 59);
    position: absolute;
    top: 10%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-size: 80px;
}
h2{
    color: rgb(59, 102, 59);
    
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translate(-50%, -50%);
    font-size: 50px;

}

/* Estil per al peu de pàgina */
footer {
    background-color: rgb(59, 102, 59);
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer p {
    margin: 5px 0;
    color: black;
}

footer a {
    color: white;
    text-decoration: underline;
}

.license img {
    height: 24px; /* Ajusta la mida de la icona de la llicència */
    margin-top: 10px;
}
/* styles.css */
/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    text-align: center;
}

header {
    background-color: #6b8e23;
    color: white;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo img {
    height: 50px;
    margin-left: 20px;
}

nav a {
    color: white;
    text-decoration: none; /* Treure el subratllat dels enllaços */
    margin: 0 15px;
    font-size: 18px;
}

main {
    padding: 40px 20px;
    background-color: rgb(255, 255, 255); /* Canvi de color de fons a blanc */
    color: rgb(0, 0, 0); /* Canvi de color del text a negre */
    margin: 40px;
}

h3 {
    font-size: 40px;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
    height: 6%;
    color: #000;
    
}

.form-container {
    background-color: #e0e0e0;
    margin: 0 auto;
    padding: 20px;
    width: 70%;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    color: black;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    background-color: #fff;
}


thead tr th {
    background-color:#2c3e50;
    color:#ddd;
}




th, td {
    border: 1px solid #ddd;
    padding: 10px;
}

th {
    background-color: #f2f2f2;
    color: #333;
}

tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

tbody tr:nth-child(even) {
    background-color: #ffffff;
}

/* Estils per eliminar els quadrats de la taula interna */
.nested-table, .nested-table1 {
    border-collapse: collapse;
    width: 100%;
    text-decoration: none;
}

.nested-table td {
    border: none; /* Elimina els quadrats */
    padding: 0; /* Elimina el padding */
    text-align: center; /* Centra els emojis */
    text-decoration: none; /* Treure el subratllat */
}
.nested-table1 td {
    border: none; /* Elimina els quadrats */
    padding: 15px; /* Elimina el padding */
    text-align: center; /* Centra els emojis */

}
.person-icon img {
    width: 24px; /* Ajusta la mida de les icones si cal */
    height: auto;
    display: block; /* Centra l'imatge dins de la cel·la */
    margin: 0 auto; /* Centra l'imatge dins de la cel·la */
    text-decoration: none; /* Assegura que no hi hagi subratllat */
}

tfoot .blau-mari {
    color: white  /* Assegura el color del text a blanc */
}

tfoot td {
    background-color: #2c3e50;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

.person-icon {
    margin: 0 5px;
}
.llista li {
    list-style: none;
}
footer {
    background-color: #6b8e23;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    margin: 5px 0;
}

footer a {
    color: white;
    text-decoration: none;
}

footer img {
    height: 20px;
    vertical-align: middle;
    margin-left: 5px;
}
